<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body> 
  <!-- <p id="kint">Hint: A = p*[[1 + (r/n)] ^ nt]</p> -->
  <div id="app">
    <h1 id="cop"> COMPOUND INTEREST CALCULATOR</h1>
      <label>Principal Amount</label><br>
      <input class="calc" v-model="principal" type="number"><br/> 
      <label>Rate</label><br>
      <input class="calc" v-model="rate" type="number"><br/>
      <label >Number of Interest per Year </label><br>
      <input class="calc" v-model="number" type="number" ><br>
      <label >Time</label><br>
      <input class="calc" v-model="time"type="number">
        <br/><br/>
     <p id="int">The Compound Interest is = {{ result() }}</p>
    </div>
  <script src="app.js"></script>
  </body>
  </html>